@media screen and (min-width: 320px) {
    
    #about-page-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    #about-header {
        align-self: center;
        margin: 4vw;
        text-decoration: underline;
        text-underline-position: under;
    }
    
    .about-subheader {
        text-indent: 1ch;
        margin: 2vw;
    }
    
    .about-text {
        background-color: var(--main);
        font-size: var(--fs-4);
        text-indent: 2ch;
        margin: 0 5vw;
        word-break: break-word;
        hyphens: auto;
    }
    
    #aspirations {
        margin-top: 1vw;
        font-style: italic;
        text-align: center;
        font-size: var(--fs-3);
        font-family: var(--ff-cursive);
    }

}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 768px) {

    #about-header{
        margin: 2vw;
    }

    .about-text{
        font-size: var(--fs-6);
    }

    #aspirations {
        font-size: var(--fs-5);
    }
}

@media screen and (min-width: 1024px) {

    #about-header{
        margin: 1vw;
    }

    .about-text{
        font-size: var(--fs-7);
    }

    #aspirations {
        font-size: var(--fs-6);
    }
}

@media screen and (min-width: 1440px) {

    .about-text{
        font-size: var(--fs-8);
    }

    #aspirations {
        font-size: var(--fs-7);
    }
}

@media screen and (min-width: 1920px) {

    .about-text{
        font-size: var(--fs-9);
    }

    #aspirations {
        font-size: var(--fs-8);
    }
}