@media screen and (min-width: 320px) {

    #title {
        font-family: var(--ff-c);
        color: var(--darkgreen);
    }

    #recipe-list .row>div {
        min-width: 50% !important;
    }

    #recipe-list .card-img-top{
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }

    #recipe-list .card{
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
    }

    .moreInfo {
        visibility: hidden;
    }
}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 601px) {}

@media screen and (min-width: 768px) {

    #title {
        padding: 2vw;
        font-size: var(--fs-3);
    }

    #recipe-list .row>div {
        min-width: 33.33% !important;
    }


    /* #recipe-list .card-timeToCook .card-timeToCook-icon{
        font-size: var(--fs-5);
    } */
}

@media screen and (min-width: 1024px) {


    #recipe-list .row>div {
        min-width: 25% !important;
    }

    .moreInfo {
        font-size: var(--fs-8) !important;
        visibility: visible;
    }
}

@media screen and (min-width: 1441px) {

    #recipe-list .row>div {
        min-width: 20% !important;
    }
}