/* Colour palette */
/* :root {
    --main: #49a900;
    --lime: #80E632;
    --lightgreen: #5ACF00;
    --green: #3A8600;
    --darkgreen: #275B00;
} */
:root {

    /* Colours */

    /*  Pastel pallete */
    --main: #FFFFE4;
    --pastelred: #fed8d1;
    --pastelgreen: #ddf9dc;
    /* Solid palette */
    --mandrago: #D8E780;
    --red: #D71709;
    --darkgreen: #072000;
    --green: #31D831;

    /* Typography */

    /* font-family */
    --ff-c: cursive;

    /* font-size */
    --fs-0: 8vw;
    --fs-1: 6vw;
    --fs-2: 5vw;
    --fs-3: 4vw;
    --fs-4: 3.5vw;
    --fs-5: 3vw;
    --fs-6: 2.5vw;
    --fs-7: 2vw;
    --fs-8: 1.5vw;
    --fs-9: 1.25vw;
    --fs-10: 1vw;
    --fs-11: 0.8vw;

    /* Transition */
    --transition-1: all 0.2s ease-out;
    --transition-2: all 0.25s ease;
    --transition-3: all 0.5s ease;
    --transition-4: all 1s ease-in-out;
    --transition-5: all 2s ease-in-out;
    --transition-6: all 4s ease-in-out;
    --transition-7: all 0.5s ease-out;
    --transition-9: opacity 0.5s;

}



*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


::placeholder {
    color: var(--red);
}

/* Image upload widget. Work in progress. */

/* .uploadOuter {
    text-align: center;
    padding: 20px;
    strong {
      padding: 0 10px
    }
  }
  .dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
    input[type="file"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
  .draging {
    transform: scale(1.1);
  }
  #preview {
    text-align: center;
    img {
      max-width: 100%
    }
  } */

@media screen and (min-width: 320px) {

    html {
        height: 100%;
    }
    
    body {
        height: 100%;
        min-width: 320px;
    
    }
    
    h1{
        font-size: var(--fs-1) !important;
        font-family: var(--ff-c);
    }
    
    h2{
        font-size: var(--fs-2) !important;
        font-family: var(--ff-c);
    }
    
    h3{
        margin-bottom: initial !important;
        font-size: var(--fs-1) !important;
        font-family: var(--ff-c);
    }

    h4{
        font-size: var(--fs-3) !important;
        font-family: var(--ff-c);
    }
    
    h5{
        font-size: var(--fs-6) !important;
        font-family: var(--ff-c);
    }

    /* Body CSS */

    #layer-0 {
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: auto;
        padding-top: 50px;
        transition: var(--transition-2);
    }

    #layer-1 {
        height: auto;
        min-height: 100%;
        width: 100%;
        margin: auto auto;
        padding: 4vw !important;
    }

    /* Welcome CSS? Not sure how to call it. */
    #header {
        display: contents;
    }


    #introduction-wrapper {
        width: 100%;
    }
    /* 
    #introduction-welcome {
    } */

    #introduction-message:first-child {
        font-size: var(--fs-4);
    }

    #introduction-message {
        font-family: var(--ff-c);
        margin-bottom: 0;
        flex-grow: 7;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    /*Add recipe button style*/
    #addRecipe-wrapper {
        flex-grow: 2;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    #addRecipe {
        font-family: var(--ff-c);
        max-width: 20vw;
        background-image: url("../img_assets/cutting_board.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 3/2;
        z-index: 1;
    }

    #addRecipe:hover {
        cursor: pointer;
    }

    #addRecipe:first-child {
        align-content: center;
        font-size: var(--fs-4);
        font-family: var(--ff-c);
        text-align: center;
        margin-bottom: 0;
    }

    /* Image on top right of the Welcome. */

    #stock-photos {
        position: absolute;
        opacity: 0;
    }

    /* Recipe categories. */

    #categories-container{
        flex-direction: row !important;
        justify-content: space-between;
    }

    #categories-container > .category-header{
        width: auto !important;
    }

    #categories-container > .category{
        width: auto !important;
    }

    .category-header {
        display: inline-block;
    }

    .category {
        width: fit-content;
        margin: 2px;
        font-size: var(--fs-3);
    }

    .category-underline{
        display: block;
        height: 1px;
        margin-bottom: 1vw;
        background-color: #072000;
    }

    .category:hover {
        cursor: pointer;
    }

    #latest-Recipes-header {
        font-family: var(--ff-c);
        font-size: var(--fs-2);
        margin-bottom: 0px;
        padding-bottom: 0px !important;
    }
}

@media screen and (min-width: 375px) {

    h3{
        font-size: var(--fs-2) !important;
    }
}

@media screen and (min-width: 480px) {

    h3{
        font-size: var(--fs-3) !important;
    }
}

@media screen and (min-width: 600px) {
    /* Body CSS */

    #layer-0 {
        padding-top: 80px !important;
    }
}

@media screen and (min-width: 768px) {

    h1{
        font-size: var(--fs-3) !important;
    }
    
    h2{
        font-size: var(--fs-4) !important;
    }

    h3{
        font-size: var(--fs-6) !important;
    }

    h4{
        font-size: var(--fs-6) !important;
    }

    h5{
        font-size: var(--fs-7) !important;
    }

    /* Body CSS */

    #layer-1 {
        width: 85%;
        padding: 2vw !important;
    }

    #introduction-message:first-child {
        font-size: var(--fs-6);
    }

    #addRecipe:first-child {
        font-size: var(--fs-6);
    }

    .category{
        font-size: var(--fs-4);
    }

    .category-underline{
        height: 2px;
    }

}

@media screen and (min-width: 1024px) {

    h1{
        font-size: var(--fs-4) !important;
    }

    h2{
        font-size: var(--fs-5) !important;
    }
    
    h3{
        font-size: var(--fs-7) !important;
    }

    h4{
        font-size: var(--fs-7) !important;
    }

    h5{
        font-size: var(--fs-9) !important;
    }
    /* Welcome CSS? Not sure how to call it. */

    #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #introduction-message {
        min-width: 80%;
    }

    #introduction-message:first-child {
        font-size: var(--fs-5);
    }
    /* Add recipe button. */

    #addRecipe-wrapper {
        position: relative;
    }

    #addRecipe {
        position: absolute;
        min-width: 18vw;
    }

    #addRecipe:first-child {
        font-size: var(--fs-6) !important;
    }

    /* Image on top right of the Welcome. */

    #stock-photos {
        width: 50%;
        position: relative;
        opacity: 1;
        transition: opacity 0.5s;
    }

    #stock-photo {
        max-width: 45vw;
        max-height: 27vw;
        min-width: 28vw;
        min-height: 18vw;
        border-radius: 10%;
    }

    /* Recipe categories. */

    .category {
        font-size: var(--fs-5);

    }

    #latest-Recipes-header {
        font-size: 4vw;
        padding-top: 5vw;
    }
}

@media screen and (min-width: 1440px) {

    /* Image on top right of the Welcome. */

    h1{
        font-size: var(--fs-5) !important;
    }
    
    h2{
        font-size: var(--fs-6) !important;
    }

    h3{
        font-size: var(--fs-7) !important;
    }

    h4{
        font-size: var(--fs-8) !important;
    }

    h5{
        font-size: var(--fs-10) !important;
    }


    #layer-1 {
        padding: 1vw !important;
    }

    #introduction-message:first-child {
        font-size: var(--fs-6);
    }

    #addRecipe{
        min-width: 13vw;
        max-width: 13vw;
    }

    #addRecipe:first-child {
        font-size: var(--fs-7) !important;
    }

    .category {
        font-size: var(--fs-6);

    }
}

@media screen and (min-width: 1920px) {

    h1{
        font-size: var(--fs-6) !important;
    }
    
    h2{
        font-size: var(--fs-7) !important;
    }

    h3{
        font-size: var(--fs-8) !important;
    }

    h4{
        font-size: var(--fs-9) !important;
    }

    /* Image on top right of the Welcome. */

    /* Body CSS */
    #layer-0 {
        padding-top: 120px;
    }

    #introduction-message:first-child {
        font-size: var(--fs-7);
    }

    #addRecipe:first-child {
        font-size: var(--fs-7) !important;
    }

    .category {
        font-size: var(--fs-7);
    }

    .category-underline{
        height: 3px;
    }
}

@media screen and (min-width: 2560px) {

    #layer-0 {
        padding-top: 150px;
    }
}