/*All full recipe page CSS and it's elements**/

@media screen and (min-width: 320px) {

    #complete-Recipe-container{
        padding: 2vw;
        border-radius: 2vw;
    }

    #recipe-full-top:first-child {
        flex-direction: column !important;
    }

    #recipe-full-image {
        width: 100%;
        aspect-ratio: 4/3;
        border: black;
    }

    #title-time-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        word-break: break-word;
        hyphens: auto;
    }

    #recipe-full-title{
        width: auto !important;
    }

    #recipe-title-time-sum-wrapper{

        background-color: var(--main);
    }

    #ingredients-wrapper{
        background-color: var(--pastelred);
    }

    #description-wrapper{
        background-color: var(--pastelgreen);
    }

    #time-wrapper {
        display: flex !important;
        flex-direction: row;
        width: auto !important;
        align-self: baseline;
    }

    #time-wrapper > .clock{
        align-self: center;
        line-height: 1;
        font-size: var(--fs-2);
    }

    #recipe-full-timeToCook {
        min-width: 3ch;
        line-height: 1;
        font-size: var(--fs-2);
    }

    #intro-wrapper {
        font-style: italic;
    }

    #ingredients-wrapper-1440 {
        position: absolute;
        visibility: hidden;
    }

    #description-wrapper:first-child {
        text-decoration: underline;
    }


    /* .recipe-headers {
        font-size: var(--fs-1) !important;
    } */

    #recipe-full-summary,
    #recipe-full-ingredients,
    #recipe-full-description {
        text-indent: 2ch;
        font-size: var(--fs-3) !important;
        word-break: break-word;
        hyphens: auto;
    }

    /* Buttons for modifications */

    .home-btn a {
        text-decoration: none;
        color: var(--darkgreen);
    }

    .update-btn,
    .delete-btn,
    .home-btn {
        background-color: var(--mandrago) !important;
    }

}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 600px) {

    #layer0 {
        padding-top: 80px;
    }
}

@media screen and (min-width: 768px) {

    #recipe-full-top:first-child {
        flex-direction: row !important;
    }

    #recipe-full-image-wrapper{
        margin-right: 0.5rem !important;
    }

    #recipe-title-time-sum-wrapper{
        align-content: center;
        margin-top: 0 !important;
        margin-left: 0.5rem !important;
    }

    #intro-wrapper {
        padding: 2vw;
        padding-top: initial;
    }

    /* .recipe-headers{
        font-size: 2.7vw !important;
    } */

    #recipe-full-timeToCook,
    #time-wrapper > .clock {
        font-size: var(--fs-6) !important;
    }

    #ingredients-wrapper,
    #description-wrapper,
    #recipe-options {
        margin-top: 1rem !important;
    }

    #recipe-full-summary,
    #recipe-full-ingredients,
    #recipe-full-description {
        font-size: var(--fs-7) !important;
    }

    /* Buttons for modifications */

    #recipe-options {
        flex-direction: row !important;
        justify-content: center;
        margin: auto !important;
    }

    .update-btn,
    .delete-btn,
    .home-btn {
        width: 22vw !important;
    }
}

@media screen and (min-width: 1024px) {

    #recipe-full-image{
        aspect-ratio: 5/3;
    }

    #recipe-full-timeToCook,
    #time-wrapper > .clock {
        font-size: var(--fs-7) !important;
    }

    /* Buttons for modifications */

    #recipe-full-summary,
    #recipe-full-ingredients,
    #recipe-full-description {
        font-size: var(--fs-8) !important;
    }

    .update-btn,
    .delete-btn,
    .home-btn {
        width: 17vw !important;
    }
}

@media screen and (min-width: 1440px) {

    #recipe-full-timeToCook {
        font-size: var(--fs-7) !important;
    }

    /* Buttons for modifications */

    #recipe-full-summary,
    #recipe-full-ingredients,
    #recipe-full-description {
        font-size: var(--fs-9) !important;
    }

    .update-btn,
    .delete-btn,
    .home-btn {
        width: 17vw !important;
        font-size: var(--fs-8) !important;
    }
}

@media screen and (min-width: 1920px) {

    #recipe-full-image-wrapper{
        margin-right: 0.75rem !important;
    }

    #recipe-title-time-sum-wrapper{
        align-content: center;
        margin-left: 0.75rem !important;
    }

    #ingredients-wrapper,
    #description-wrapper,
    #recipe-options {
        margin-top: 1.5rem !important;
    }

    .update-btn,
    .delete-btn,
    .home-btn {
        width: 12vw !important;
        font-size: var(--fs-10) !important;
    }
}