/* BS card class / recipe cards */

/* Reset */

.card-img-top{
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
}

/*Carousels*/

.carouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 70%;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}


@media screen and (min-width: 320px) {

    /*Recipe cards*/
    .card {
        min-height: 41vw;
        margin: 0.5vw;
        overflow: hidden;
        background-color: var(--main) !important;
        border-radius: 1vw !important;
    }

    .card-img-top {
        object-fit: cover;
        max-height: 24vw;
        min-height: 24vw;
    }

    .card-body {
        padding: 0.5vw !important;
    }

    .card-title {
        margin-bottom: 0.5vh !important;
        padding-left: 0.5vw !important;
        padding-right: 0.5vw !important;
        word-break: break-word;
        hyphens: auto;
    }

    .card-text {
        position: absolute;
        justify-self: anchor-center;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: var(--fs-7);
        text-indent: 2ch;
        word-break: break-word;
        hyphens: auto;
    }

    #content {
        display: flex;
        width: 100%;
        height: 30%;
    }

    .card-time-circle {
        display: inline-block;
        position: absolute;
        width: 17%;
        aspect-ratio: 1/1;
        border-bottom-right-radius: 50%;
        background-color: var(--main);
        opacity: 60%;
    }

    .card-time-container {
        display: flex;
        height: 100%;
        justify-self: center;
        /* position: absolute;
        top: 6px;
        left: 8px; */
    }

    .card-timeToCook {
        align-self: center;
        line-height: 1;
        font-size: var(--fs-6);
    }

    .clock
    {
        align-self: center;
        font-size: var(--fs-6);
    }

    .more-info-btn{
        background-color: var(--mandrago) !important;
        z-index: 1;
    }

    /*Carousels*/

    .carousel {
        width: 95%;
    }

    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child,
    .carousel-inner .carousel-item>div:nth-child(2),
    .carousel-inner .carousel-item>div:nth-child(3) {
        display: block;
    }

    .carousel-inner .carousel-item-start.active {
        transform: translateX(-50%);
    }

    .carousel-inner .carousel-item-end.active {
        transform: translateX(50%);
    }

    .carousel-item>div {
        min-width: 50%;
    }


    .carousel-item {
        opacity: 0;
    }

    .carousel-item.active {
        opacity: 1;
    }

    /* carousel controls */
    .carousel-control-prev {
        z-index: 0 !important;
        left: -7vw !important;
    }

    .carousel-control-next {
        z-index: 0 !important;
        right: -7vw !important;
    }

    .carousel-la, .carousel-ra {
        color: var(--mandrago) !important;
        font-size: var(--fs-0);
    }
}

@media screen and (min-width: 360px) {}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 601px) {}

@media screen and (min-width: 768px) {

    /*Recipe cards*/
    .card{
        min-height: 33vw;
    }

    .card-img-top{
        min-height: 15vw;
        max-height: 15vw;
        aspect-ratio: 4/3;
    }

    .card-time-circle{
        width: 20%;
    }

    .clock{
        font-size: var(--fs-8);
    }

    .card-timeToCook {
        font-size: var(--fs-8);
    }

    .card-text{
        font-size: var(--fs-8);
    }

    /*Carousels*/

    .carousel-inner .carousel-item>div:nth-child(4) {
        display: block;
    }

    .carousel-inner .carousel-item-start.active {
        transform: translateX(-33.333333%);
    }

    .carousel-inner .carousel-item-end.active {
        transform: translateX(33.333333%);
    }

    .carousel-item>div {
        min-width: 33.333333%;
    }

    .carousel-item {
        opacity: 0;
    }

    .carousel-item.active {
        opacity: 1;
    }

    .carousel {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {

    /*Recipe cards*/

    .card {
        min-height: 25vw;
    }

    .card-img-top {
        min-height: 12vw;
        max-height: 12vw;
    }

    .card-img-top:hover {
        cursor: pointer;
    }


    .card-time-circle{
        width: 25%;
    }
    
    /* .clock{
        font-size: var(--fs-10);
    }

    .card-timeToCook {
        font-size: var(--fs-10);
    } */

    .card-title:hover {
        cursor: pointer;
    }

    .card-text{
        font-size: var(--fs-10);
    }


    /*Carousels*/

    .carousel-inner .carousel-item>div:nth-child(5) {
        display: block;
    }

    .carousel-inner .carousel-item-start.active {
        transform: translateX(-25%);
    }

    .carousel-inner .carousel-item-end.active {
        transform: translateX(25%);
    }

    .carousel-item>div {
        min-width: 25%;
    }
}

@media screen and (min-width: 1440px) {

    /*Recipe cards*/
    .card{
        min-height: 20vw;
    }

    .card-img-top{
        min-height: 10vw;
        max-height: 10vw;
    }

    .clock{
        font-size: var(--fs-9);
    }

    .card-timeToCook {
        font-size: var(--fs-9);
    }


    .card-text {
        font-size: var(--fs-11);
    }

    /*Carousels*/

    .carousel-inner .carousel-item>div:nth-child(6) {
        display: block;
    }

    .carousel-inner .carousel-item-start.active {
        transform: translateX(-20%);
    }

    .carousel-inner .carousel-item-end.active {
        transform: translateX(20%);
    }

    .carousel-item>div {
        max-width: 20%;
        min-width: 20%;
    }
}

@media screen and (min-width: 1920px) {

    .card{
        min-height: 19vw;
    }

    .card-img-top{
        min-height: 9vw;
        max-height: 9vw;
    }
}